<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/styles.css">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<nav>
				<div class="container">
					<div class="inner_nav">
						<div class="logo">
							<img src="img/logo.png" alt="">
						</div>
						<div class="burger">
							<div class="burger_item"></div>
							<div class="burger_item"></div>
							<div class="burger_item"></div>
						</div>
						<ul class="menu">
							<li><a href="#">Features</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Pricing</a></li>
							<li><a href="#">Reviews</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>	
			<div class="main">
				<div class="container">
					<div class="inner_main">
						<div class="header_body">
							<img src="img/logo-main.png" alt="">
							<h1>Modern axure template <br>for beautiful prototypes</h1>
							<div class="header_info">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum modi quibusdam maiores voluptates iste, doloribus, amet voluptatum dolor voluptate corrupti distinctio eos similique dolores error, inventore cumque quaerat consectetur asperiores.
							</div>
						</div>
						<div class="form_block">
							<div class="form_heading">
								Try Your FREE Trial Today
							</div>
							<form action="#" method="post">
								<div class="form_input">
									<input type="text" class="signup_text" name="text" placeholder="Name" />
									<input type="email" class="signup_email" name="email" placeholder="Email"/>
									<input type="password" class="signup_password" name="password" placeholder="Password" />
								</div>
								<button class="form_button">Get Started</button>
							</form>
						</div>	
					</div>
				</div>
			</div>
		</header>
		<div class="features">
			<div class="container">
				<div class="inner_features">
					<div class="tabs">
						<button class="feature_button active">
						Tab 1
						</button>
						<button class="feature_button">
						Tab 2
						</button>
						<button class="feature_button">
						Tab 3
						</button>
					</div>
					<div class="tabs_text">
						<div class="tabs_text_heading">
							Tabs with transitioning effect
						</div>
						<div class="tabs_text_desc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores molestiae, rem quibusdam delectus, nesciunt hic culpa cupiditate quae architecto dolorem consequuntur praesentium quod ratione eligendi illo quasi odit voluptate neque? 
						</div>
						<button class="download_button">Dowload</button>
					</div>
					<div class="tabs_image">
						<img src="img/feature_three.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="figure_two">
			<div class="container">
				<div class="inner_feature_two">
					<div class="f2_image">
						<img src="img/feature_two.jpg" alt="">
					</div>
					<div class="f2_desc">
						<div class="f2_heading">
							Sub list section
						</div>
						<div class="f2_title">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean<br> 
							euismod bibendum laoreet. Proin gravida dolor sit amet lacus<br> 
							accumsan et viverra justo commodo.
						</div>
						<div class="sub_feature">
							<div class="sub_image">
								<img src="img/feature1_icon.jpg" alt="">
							</div>
							
							<div class="sub_text">
								<div class="sub_feature_title">Title</div>
								<div class="sub_feature_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>	Aenean euismod bibendum laoreet.</div>
							</div>

						</div>
						<div class="sub_feature">
							<div class="sub_image">
								<img src="img/feature1_icon.jpg" alt="">
							</div>
							
							<div class="sub_text">
								<div class="sub_feature_title">Title</div>
								<div class="sub_feature_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>	 Aenean euismod bibendum laoreet.</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="figure_three">
			<div class="container">
				<div class="inner_feature_three">
					<div class="f3_text_info">
						<div class="f3_heading">Standart Picture Section</div>
						<div class="f3_body">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
							euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan 
							et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis 
							natoque penatibus et magnis dis parturient montes.

							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
							bibendum laoreet.
						</div>
					</div>
					<div class="f3_image">
						<img src="img/feature_two.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="our_process">
			<div class="container">
				<div class="inner_our_process">
					<div class="process_heading">
						<div class="process_awesome">
							why this is awesome
						</div>
						<div class="process_tiny">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</div>
					</div>
					<div class="cards">
						<div class="card">
							<img src="img/process_img1.jpg" alt="">
							<div class="card_title">Thoughtful Design</div>
							<div class="card_body">
								Lorem ipsum dolor sit amet, consectetur adipiscing 
								elit. Aenean euismod bibendum laoreet. Proin gravida 
								dolor sit amet lacus accumsan et viverra.
							</div>
						</div>
						<div class="card">
							<img src="img/process_img1.jpg" alt="">
							<div class="card_title">Thoughtful Design</div>
							<div class="card_body">
								Lorem ipsum dolor sit amet, consectetur adipiscing 
								elit. Aenean euismod bibendum laoreet. Proin gravida 
								dolor sit amet lacus accumsan et viverra.
							</div>
						</div>
						<div class="card">
							<img src="img/process_img1.jpg" alt="">
							<div class="card_title">Thoughtful Design</div>
							<div class="card_body">
								Lorem ipsum dolor sit amet, consectetur adipiscing 
								elit. Aenean euismod bibendum laoreet. Proin gravida 
								dolor sit amet lacus accumsan et viverra.
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
		<div class="pricing">
			<div class="container">
				<div class="inner_pricing">
					<div class="pricing_card">
						<div class="type">
							Basic
						</div>
						<div class="price_area">
							<div class="price">0</div>
							<span class="p_extra">
								Free For life
							</span>
						</div>
						<div class="price_features">
							<div>1 gb of space</div>
							<div>10 gb of bandwidth</div>
							<div>basic customization</div>
							<div>wordpress integration</div>
							<div>email support</div>
						</div>
					</div>
					<div class="pricing_card center">
						<div class="type">
							professional
						</div>
						<div class="price_area">
							<div class="price">19</div>
							<span class="p_extra">
								Free For life
							</span>
						</div>
						<div class="card_popular">
								our most popular
						</div>
						<div class="price_features">
							<div>1 gb of space</div>
							<div>10 gb of bandwidth</div>
							<div>basic customization</div>
							<div>wordpress integration</div>
							<div>email support</div>
						</div>
					</div>
					<div class="pricing_card">
						<div class="type">
							enterprise
						</div>
						<div class="price_area">
							<div class="price">70</div>
							<span class="p_extra">
								Free For life
							</span>
						</div>
						<div class="price_features">
							<div>1 gb of space</div>
							<div>10 gb of bandwidth</div>
							<div>basic customization</div>
							<div>wordpress integration</div>
							<div>email support</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="testimonial_panel">
			<div class="container">
				<div class="inner_testimonial">
					<div class="testimonial_desc">
						<div class="testimonial_heading">
							what out costumers are saying
						</div>
						<div class="testimonial_tiny">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</div>
					</div>
					<div class="testimonial_cards">
						<div class="testimonial_card">
							<div class="t_opinion">
								Lorem ipsum dolor sit amet, 
								consectetur adipisicing elit. Doloribus 
								accusamus expedita repellat similique 
								odio aspernatur ex, architecto eaque 
								quo suscipit.
							</div>
							<div class="t_author">
								<img src="img/t_author.jpg" alt="">
								<div class="author_info">
									<div class="author_name">Jemery</div>
									<div class="author_job">Manager</div>
								</div>

							</div>
						</div>
						<div class="testimonial_card">
							<div class="t_opinion">
								Lorem ipsum dolor sit amet, 
								consectetur adipisicing elit. Doloribus 
								accusamus expedita repellat similique 
								odio aspernatur ex, architecto eaque 
								quo suscipit.
							</div>
							<div class="t_author">
								<img src="img/t_author.jpg" alt="">
								<div class="author_info">
									<div class="author_name">Jemery</div>
									<div class="author_job">Manager</div>
								</div>

							</div>
						</div>
						<div class="testimonial_card">
							<div class="t_opinion">
								Lorem ipsum dolor sit amet, 
								consectetur adipisicing elit. Doloribus 
								accusamus expedita repellat similique 
								odio aspernatur ex, architecto eaque 
								quo suscipit.
							</div>
							<div class="t_author">
								<img src="img/t_author.jpg" alt="">
								<div class="author_info">
									<div class="author_name">Jemery</div>
									<div class="author_job">Manager</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
		<div class="download_section">
			<div class="container">
				<div class="inner_download">
					<div class="download_heading">
						stylish axure design
					</div>
					<div class="download_tiny">
						Use sections you need remove the ones you don't. Create gorgeus prototypes types faster then ever.
					</div>
					<button class="download">
						Download
					</button>
				</div>
			</div>
		</div>
		<div class="contact_section">
			<div class="container">
				<div class="inner_contact">
					<div class="contact_heading">
						contact us
					</div>
					<div class="contact_tiny">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>
					<div class="form_section">
						<form action="#" method="post">
							<div class="form_container">
								<div class="input_block">
									<input type="text" class="contact_name" name="name" placeholder="Name" />
									<input type="text" class="contact_email" name="email" placeholder="Email" />
									<input type="text" class="contact_subject" name="name" placeholder="Subject" />
								</div>
								<div class="textarea_block">
									<textarea name="message" class="contact_message" placeholder="Message"></textarea>
								</div>
							</div>
							<div class="send_button">
								<button class="submit_contact">Send Message</button>		
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="social_icons">
				<a href="#"><img src="img/facebook.png" alt=""></a>
				<a href="#"><img src="img/twitter.png" alt=""></a>
				<a href="#"><img src="img/pinterest.png" alt=""></a>
				<a href="#"><img src="img/instagram.png" alt=""></a>
			</div>
			<div class="company_info">
				&#169 2015 Axure Team
			</div>
		</footer>
	</body>
</html>